<footer  role="contentinfo">  
    <div class="footer-middle">  
    <div class="container">  
      <div class="row">  
        <div class="col-md-3 col-sm-6">  
          <div class="footer-pad">  
            <h4>COMPANY</h4>  
            <ul class="list-unstyled">  
               <li> <a >About Us</a></li>  
              <li> <a >Blog</a></li>  
              <li> <a >Forms</a></li>  
              <li> <a >Careers</a></li>  
             </ul>  
          </div>  
        </div>  
        <div class="col-md-3 col-sm-6">  
          <div class="footer-pad">  
            <h4>PRICING</h4>  
            <ul class="list-unstyled">  
              <li><a >Overview</a> </li>  
              <li><a >PREMIUN PLANS</a> </li>  
               <li><a >PROMOTIONS</a></li>  
               <li><a >AFFILIATE PROGRAM</a></li>  
            </ul>  
          </div>  
        </div>  
        <div class="col-md-3 col-sm-6">  
          <div class="footer-pad">  
            <h4>RESOURCES</h4>  
            <ul class="list-unstyled">  
               <li> <a >Application</a> </li>  
              <li> <a >Documentation</a> </li>  
              <li> <a >Systems</a> </li>  
              <li> <a >FAQ</a> </li>  

              </ul>  
          </div>  
        </div>  
          <div class="col-md-3">  
              <h4>SOCIAL NETWORKS</h4>  
              <ul class="social-network social-circle">  
               <li> <a  class="icoFacebook" title="Facebook"> <i class="fa fa-facebook"> </i> </a> </li>  
               <li>
                <a href="https://gitlab.com/Walther_Olivo" class="icoGitlab" title="GitLab" target="_blank">
                  <i class="fab fa-gitlab"></i>
                </a>
              </li>      <li> <a > <i class="fa fa-youtube" aria-hidden="true"> </i> </a> </li>  
              </ul>               
      </div>  
      </div>  
       <!-- <div class="col-md-12 copy">  
      <p class="text-center"> © Copyright 2023 - Olimac Services - Todos los derechos reservados </p>  
      </div>   -->
    </div>  
    </div>  
  </footer>