
table {
    margin-top: 10px ;
}

.table {
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px !important;
  }
  

  .pagination-container {
    float: left;
    margin-right: 10px;
  }
  
  .thead-dark{
    border: none !important;
  }